$TTL 14400
@ 86400 IN SOA %%domain%%. %%email%%. (
        %%serial%%  ; serial, todays date+todays
        3600		; refresh, seconds
        7200		; retry, seconds
        1209600		; expire, seconds
        86400 )		; minimum, seconds

%%domain%%.     86400 IN NS %%hostns1%%.
%%domain%%.     86400 IN NS %%hostns2%%.
ns1               14400 IN A %%ip%%
ns2               14400 IN A %%ip%%
%%domain%%.     14400 IN A %%ip%%
%%domain%%.           IN MX 0 %%domain%%.
mail            14400 IN CNAME %%domain%%.
www               14400 IN CNAME %%domain%%.
ftp               14400 IN CNAME %%domain%%.
webmin            14400 IN CNAME %%domain%%.


