$TTL 14400
@ 86400 IN SOA %%hostns2%%. %%email%%. (
        %%serial%%   ; serial, todays date+todays
        3600		; refresh, seconds
        7200		; retry, seconds
        1209600		; expire, seconds
        86400 )		; minimum, seconds

%%hostns2%%. 86400 IN NS %%hostns1%%.
%%hostns2%%. 86400 IN NS %%hostns2%%.
%%hostns2%%. 14400 IN A %%ip%%
%%hostns2%%. 14400 IN MX 0 %%hostns2%%.
mail             14400 IN CNAME %%hostns2%%.
www              14400 IN CNAME %%hostns2%%.
ftp              14400 IN CNAME %%hostns2%%.
